doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title: block title
		link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/assets/css/bootstrap-rtl.min.css')
		link(rel='stylesheet', href='/assets/css/font-awesome.min.css')
		link(rel='stylesheet', href='/assets/css/jquery-confirm.min.css')
		link(rel='stylesheet', href='/assets/css/sb-admin.css')
		link(rel='stylesheet', href='/assets/css/sb-admin-rtl.css')
		link(rel='stylesheet', href='/assets/css/custom.css')
		block cssLayouts
	body
		#wrapper
			include ./master/sidebar
			#page-wrapper
				.container-fluid
					block content
			include ./master/modal
	script(type='text/javascript' src="/assets/js/jquery.min.js")
	script(type='text/javascript' src="/assets/js/bootstrap.min.js")
	script(type='text/javascript' src="/assets/js/jquery.validate.min.js")
	script(type='text/javascript' src="/assets/js/additional-methods.min.js")
	script(type='text/javascript' src="/assets/js/jquery-confirm.min.js")
	block jsLayouts
