#myModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal') ×
				h4.modal-title عنوان
			.modal-body
			//.modal-footer
			//	button.btn.btn-default(type='button', data-dismiss='modal') بستن
